<% if @name && !@name.empty? %>
  <%= @name %>'s Game
  <%= @board.show %>
<% else %>
  <form action="/name_input"?>
    What's your name?
    <input type="text" name="name" required autofocus>
    <input type="submit" value="New Game">
  </form>
<% end %>
